html, body {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    .header {
        width: 100%;
        height: 80px;
        background-color: linen;
        ul {
            list-style: none;
            font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
            .having_money {
                float: left;
                padding: 30px 40px;
            }
            .having_bitcoin {
                float:left;
                padding: 30px 40px;
            }
            .user_name {
                float: right;
                padding: 30px 40px;
            }
        }
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .footer {
        width: 100%;
        height: 200px;
        background-color: bisque;
    }
}